<!DOCTYPE html>
<html>
  <head>
    <title>photo</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-primary ">
    <% if logged_in? %>
      <div class="header_label">Photo_app</div>
    <% else %>
      <div class="top">ログインしてください</div>
    <% end %>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand btn btn-primary" href="#">メニュー</a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <li><%= link_to '🏠', photos_path,class: 'btn btn-default'%></li>
          <li><%= link_to '💛', favorite_photos_path,class: 'btn btn-default'%></li>
          <li><%= link_to '📷', new_photo_path,class: 'btn btn-default' %></li>
          <li><%= link_to "👤", user_path(current_user.id),class: 'btn btn-default'%></li>
          <li><%= link_to "💤",session_path(current_user.id), method: :delete,class: 'btn btn-default' %></li>
        <% else %>
          <li><%=link_to "登録📄", new_user_path,class: 'btn btn-default' %></li>
          <li><%=link_to "ログイン🔑", new_session_path ,class: 'btn btn-default'%></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

    <%= yield %>
    <footer class="bg-primary">
      <p>大課題2</p>
      <p>© 2015-2017 Copyright DIVE INTO CODE Corp.</p>
    </footer>

  </body>
</html>
